# Ignore everything
*

# Allow only core files in the root directory
!main.py
!scanner.py
!ai_backend.py
!README.md
!.gitignore
!LICENSE
!images/
!images/*

# Allow project folders if needed (but currently we want a clean root)
#!v1/
#!v2/
#!v2.5/
#!v3/

# Keep caches and temp files ignored
__pycache__/
*.pyc
*.rar
*.mb
*.json
*.png
*.txt
